/* Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
}

/* HEADER - TOP*/

header#header-top{
    width: 100vw;
    height: 50px;
}

#header-top div{
    height: 100%;
}

#header-top img{
    height: 100%;
}

#header-top i.fa-bell{
    color: #FF8F00;
}

#header-top a{
    color: black;
    text-decoration: none;
}


/* ASIDE */

.my_container-aside{
   width: 70px;
   height: calc(100% - 50px);
   background-image: url(../img/sidebar-bg.png);
   background-color: #051E34;
   position: fixed;
   top: 50px;
   font-size: .8rem;
}

aside a,
aside i{
    color: white;
    text-decoration: none;
}

aside i{
    width: 18px;
    height: 18px;
}

ul li{
    list-style-type: none;
}

li:hover{
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

/* HEADER-DOWN */

#header-down{
    background-color: #1B72E8;
}

#header-down > div{
}


/* MAIN */

.my_wrapper-main{
    margin-left: 70px;
    margin-top: 50px;
}

.my_container{
    width: 100%;
}

main article#prossimeclassi img{
    width: 25px;
}

@media screen and (min-width: 576px) {

    
}

@media screen and (min-width: 992px) {
    .my_container-aside{
        width: 115px;
     }
     aside i{
        margin-right: .7rem;
    }

     .my_wrapper-main{
        margin-left: 115px;
    }
}