/* Extra small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
}

/* HEADER - TOP*/

header#header-top{
    width: 100vw;
    height: 50px;
}

#header-top .logo-small,
#header-top .logo-big{
    height: 50px;
}

#header-top i.fa-bell{
    color: #FF8F00;
}

#header-top a{
    color: black;
    text-decoration: none;
}

div.dropdown ul#my_dropdown-menu{
    position: absolute;
    right: 0;

}


/* ASIDE */

.my_container-aside{
   width: 70px;
   height: calc(100% - 50px);
   background-image: url(../img/sidebar-bg.png);
   background-color: #051E34;
   position: fixed;
   top: 50px;
   font-size: .8rem;
}

aside a,
aside i{
    color: white;
    text-decoration: none;
}

aside i{
    width: 18px;
    height: 18px;
}

ul li{
    list-style-type: none;
}

aside li:hover{
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

/* HEADER-DOWN */

#header-down{
    background-color: #1B72E8;
}

#header-down a{
    text-decoration: none;
    font-size: .8rem;
    padding: .2rem .5rem;
}

.my_bg-blue{
    background-color: #165BBA;
}


/* MAIN */

.my_wrapper-main{
    margin-left: 70px;
    margin-top: 50px;
}

.my_container{
    width: 100%;
}

main article#prossimeclassi img{
    width: 25px;
}

/* SECTION PROSSIME CLASSI */

article#prossimeclassi{
    font-size: .88rem;
    font-weight: medium;
}

article#prossimeclassi button{
    color: #6C757D;
}

article#prossimeclassi td{
    text-align: center;
}

article#prossimeclassi span{
    font-size: .7rem;
}

/* SECTION TODO */

article.todo label {
    font-size: .7rem;
}

article.todo li {
    padding: .4rem .5rem;
}

/* SECTION GRAPHIC */

article.graphic p,
article.graphic span,
article.graphic a{
    font-size: .74rem;
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 992px) {
    .my_container-aside{
        width: 150px;
        font-size: 1rem;
     }
     aside i{
        margin-right: .7rem;
    }

     .my_wrapper-main{
        margin-left: 150px;
    }
}